@mixin backgroundDecorator($color, $bottom, $zindex) {
  content: '';
  display: block;
  position: absolute;
  bottom: $bottom;
  left: -10vw;
  height: 20vw;
  width: 120vw;
  background: $color;
  border-radius: 50%;
  z-index: $zindex;
}
