@import './styles/utilities/variables';
@import './styles/utilities/mixins';
@import './styles/base/reset';
@import './styles/components/header';
@import './styles/components/logo';
@import './styles/components/content';
@import './styles/components/list';
@import './styles/components/recommendation';

.header__title,
.list__counter,
.list__subtitle {
  font-family: $font-fraunces;
}

.logo__apply,
.header__learn,
.list__content {
  font-family: $font-manrope;
}

.recommendation__founder,
.footer__image {
  display: none;
}

.container {
  background: $white;
}
