.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-56;
  height: 16.25rem;
  width: 23.4375rem;
  margin: 0 auto;

  &__image {
    display: inline-block;
    height: 1.5382rem;
    width: 5.985rem;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: $space-28;
    height: 1.25rem;
    width: 7.25rem;
  }
}

@media (min-width: $breakpoint-tablet) {
  .footer {
    height: 16.25rem;
  }
}

@media (min-width: $breakpoint-desktop) {
  .footer {
    height: 20.288125rem;
  }
}
