.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 28.5625rem;
  padding: $space-32 $space-20;
  background: $purple-900;

  &::after {
    @include backgroundDecorator($purple-900, -20px, 2);
  }

  &__title {
    margin: $space-56 0 $space-40;
    color: $white;
    text-align: center;
    font-size: $text-48;
    font-weight: $font-semibold;
    line-height: $line-height-100;
  }

  &__underline {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 11.0225rem;
      height: 0.1875rem;
      background: $green;
    }
  }

  &__learn {
    height: 3.3125rem;
    width: 9.4375rem;
    padding: $space-12 $space-32;
    background: $green;
    color: $purple-900;
    line-height: $line-height-180;
    font-weight: $font-bold;
  }

  &__hero {
    position: absolute;
    z-index: 3;
    top: $space-388;
    display: inline-block;
    height: 11.5rem;
    width: 20rem;
  }

  &__decorator {
    display: none;
  }
}

@media (min-width: $breakpoint-tablet) {
  .header {
    position: relative;
    height: 30.25rem;
    padding: $space-32 $space-44;

    &::after {
      @include backgroundDecorator($purple-900, -20px, 2);
    }

    &__title {
      width: 35rem;
      font-size: $text-60;
    }

    &__underline::after {
      width: 13.25rem;
    }

    &__learn {
      height: 3.5rem;
      width: 10.125rem;
      font-size: $text-18;
      z-index: 4;
    }

    &__hero {
      top: $space-380;
      height: 18.5rem;
      width: 37.6756rem;
    }

    &__decorator {
      position: absolute;
      display: inline-block;
      z-index: 3;

      &--left {
        top: 3.625rem;
        left: -14rem;
      }

      &--right {
        top: 16.375rem;
        right: -5.855rem;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .header {
    height: 30.25rem;
    padding: $space-56 0;

    &::after {
      @include backgroundDecorator($purple-900, -90px, 2);
    }

    &__title {
      position: relative;
      width: 39.6875rem;
      font-size: $text-80;
      z-index: 4;
    }

    &__underline::after {
      width: 16.1875rem;
    }

    &__hero {
      top: $space-491;
      height: 27.5625rem;
      width: 47.9375rem;
    }

    &__decorator {
      &--left {
        top: 8.625rem;
        left: -6.3125rem;
      }

      &--right {
        top: 21.375rem;
        right: -2.855rem;
      }
    }
  }
}
