.list {
  display: flex;
  flex-direction: column;
  gap: $space-32;
  padding-bottom: $space-64;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $space-24;
  }

  &__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border: 1px solid $purple-500;
    color: $purple-900;
    font-size: $text-20;
    font-weight: $font-semibold;
    border-radius: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-16;
    width: 20.9375rem;
  }

  &__subtitle {
    color: $purple-900;
    font-size: $text-24;
    font-weight: $font-semibold;
    line-height: $line-height-120;
  }

  &__content {
    color: $purple-900;
    line-height: $line-height-180;
    text-align: center;
  }
}
